.some-text {
    font-family: "Open Sans", "Arial", serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.block-1 {
    text-decoration: line-through;
}

.block-2 {
    text-transform: uppercase;
    text-align: center;
}

.block-3 {
    word-spacing: 30px;
    text-decoration: overline wavy;
    text-shadow: 1px 1px 3px purple;
}

.block-4 {
    letter-spacing: 5px;
    text-decoration: double underline;
}