.footer {
    background: #111111;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 60px 0;
    gap: 30px;
    position: relative;
}

.footer__text-logo-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__logo {}

.footer__text {
    color: #ffffff;
    max-width: 785px;
}

.footer__text span {
    font-weight: 400;
}

.footer__tel {
    display: flex;
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    max-width: 210px;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.footer__tel span {
    display: inline-block;
    font-weight: 700;
}