:root {
    --hover-color: #c5358c;
    --transition: all 0.5s;
    --secondary-color: #ababab;
    --box-shadow: #0000000d;
    --border-color: #111111;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

html,
body {
    height: 100%;
}

.body {
    font-family: "Open Sans", "Arial", sans-serif;
    line-height: 1.5;
    color: #111111;
    font-size: 18px;
    font-weight: 300;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    padding: 0 70px;
}

.hidden {
    display: none !important;
}

.logo {
    display: flex;
    max-width: 183px;
}

.logo img {
    width: 100%;
}


.favorite-btn path {
    stroke: #111111;
}

.favorite-btn.active .heart-icon-svg {
    fill: #111111;
}

.inline-on {
    display: inline;
}

.inline-off {
    display: none;
}


.quantity {
    display: inline-flex;
    align-items: center;
    user-select: none;
    justify-content: center;
    max-width: 210px;
    width: 100%;
    height: 80px;
    border: 1px solid #111111;
    border-radius: 3px;
    font-size: 30px;
    font-weight: 400;
    line-height: 0%;
    gap: 30px;
}

.quantity__counter-button {
    background: white;
}





.quantity__counter-input {
    width: 40px;
}

.quantity__counter-input input {
    width: 100%;
    background: #ffffff;
    color: #111111;
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}


.disabled {
    cursor: default;
}

.disabled path {
    stroke: #ababab;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 325px;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    background: #111111;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    cursor: pointer;
    transition: var(--transition);
}

.add-to-cart img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.add-to-cart:hover {
    background: var(--hover-color);
}

.quantity {
    font-size: 30px;
    font-weight: 400;
}