@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";





.main__product-card {
    padding: 50px 0 150px 0;
}

.product-breadcrumbs {
    margin-bottom: 110px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.product-breadcrumbs span {
    color: var(--secondary-color);
}

.product-hero {
    position: relative;
    display: flex;
    gap: 100px;
}

.product-gallery {
    display: flex;
    max-height: 550px;
    user-select: none;
    position: relative;
}

.gallery-favorite-btn {
    display: none;
}

.product-gallery-slider {
    max-height: 551px;
    position: relative;
    padding: 0 30px;
}


.swiper-button-next,
.swiper-button-prev {
    position: absolute;
}

.swiper-button-next {
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-button-prev {
    top: 2%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}


.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.product-gallery-pagination {
    display: none;
}

.product-gallery-active-list-pagination {
    display: none;
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color, #000);
}

.swiper-button-disabled {
    display: none;
}


.product-gallery-list {
    display: flex;
    flex-direction: column;
}

.product-gallery-item {
    width: 95px;
    height: 95px;
}

.product-gallery-link {
    display: flex;
    max-width: 95px;
    max-height: 95px;
    opacity: 0.5;
    transition: var(--transition);
}

.product-gallery-link img {
    width: 100%;
}

.product-gallery-link--active {
    box-shadow: 0px 4px 41px 0px var(--box-shadow);
    opacity: 1;
}


.product-gallery-active-item {
    display: none;

}

.img-show {
    display: flex;
    width: 550px;
    height: 550px;
    transition: var(--transition);
}

.img-show:hover {
    transform: scale(1.05);
}


.product-gallery-slider-for-one {
    display: none;
    margin: 0;
}


.slider-for-one__card {
    display: flex;
    max-width: 350px;
    max-height: 350px;
}

.slider-for-one__card img {
    width: 100%;
}

.slider-for-one__pagination {
    display: none;
}

.product-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-title {
    font-family: 'NAMU Pro';
    font-size: 38px;
    font-weight: 900;
    line-height: 1.1;
    max-width: 555px;
    max-height: auto;
}

.product-text {
    position: absolute;
    top: 166px;
    max-width: 555px;
    word-wrap: break-word;
    max-height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-text:hover {
    max-height: 100%;
    display: block;
    background: white;
    box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.11);
    padding: 15px;
    z-index: 10;
}

#dots {
    display: none;
}


#product-button-more {
    display: none;
    text-decoration: underline;
    color: var(--hover-color);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 15px;
    max-width: 170px;
}

.product-actions {
    position: relative;
    top: 231px;
    max-width: 555px;
    display: flex;
    flex-direction: column;
}

.product-availability {
    margin-bottom: 22px;
}

.product-actions .product-availability .product-favorite-btn {
    display: none;
}

.product-availability-in-stock {
    display: flex;
    align-items: center;
    color: #68ae5c;
    font-weight: 400;
    line-height: 25px;

}

.product-availability-in-stock div {
    border-radius: 50%;
    margin-right: 20px;
    background: #68ae5c;
    width: 13px;
    height: 13px;

}

.product-availability-out-of-stock {
    display: flex;
    align-items: center;
    color: #dc5b5b;
    font-weight: 400;
    line-height: 25px;
    display: none;
}

.product-availability-out-of-stock div {
    border-radius: 50%;
    margin-right: 20px;
    background: #dc5b5b;
    width: 13px;
    height: 13px;
    display: none;
}



.product-price {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
}

.price-group {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
}

.product-favorite-btn {
    position: absolute;
    top: -354px;
    left: -166px;
}

.product-original-price {
    color: var(--secondary-color);
    font-family: "NAMU 1850";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-decoration-line: line-through;
}

.product-discount-price {
    font-family: "NAMU 1850";
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
}

.cart-action {
    display: flex;
    gap: 20px;
}


/* ================================= */

.main__item-tabs {
    background: #f5f5f5;
    margin-bottom: 150px;
}


.item-tabs__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 150px 0;
}

.item-tabs__top {
    margin-bottom: 100px;
}

.tab-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab-controls__item {
    padding: 15px 30px 15px 30px;
    border-bottom: 2px solid var(--secondary-color);
    transition: var(--transition);
}

.tab-controls__item:hover {
    color: var(--hover-color);
}

.tab-controls__item:hover.tab-controls__item {
    border-bottom: 2px solid var(--hover-color);
}

.tab-controls__item:hover.tab-controls__item--active {
    border-bottom: 4px solid var(--border-color);
    color: var(--border-color);
}

.tab-controls__item--active {
    border-bottom: 4px solid var(--border-color);
}

.tab-controls__link {
    font-family: "NAMU Pro";
    font-size: 20px;
    line-height: 24px;
}


.item-tabs__tab-content {
    display: none;
}


.tab-content--show {
    display: flex;
}

.complectation {
    display: grid;
    grid-template-columns: 555px minmax(320px, 383px) minmax(320px, 383px);
    grid-template-rows: 307px 474px;
    gap: 20px;
}

.complectation__item {
    display: flex;
    background: #ffffff;
    align-items: center;
    transition: var(--transition);
    cursor: pointer;
}

.complectation__item:hover {
    box-shadow: 0px 4px 41px 0px var(--box-shadow), 0px 4px 41px 0px var(--box-shadow);
}


.complectation__title {
    font-family: "NAMU Pro";
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}




.complectation__item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: column;
}

.complectation__item-1 .complectation__info {
    max-width: 475px;
}

.complectation__item-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.complectation__item-2 .complectation__info {
    margin-left: 20px;
    max-width: 394px;
}

.complectation__item-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    flex-direction: column;
}

.complectation__item-3 .complectation__info {
    max-width: 303px;
}

.complectation__item-4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    flex-direction: column;
}

.complectation__item-4 .complectation__info {
    max-width: 303px;
}

.complectation__img {
    max-width: 100%;
    height: auto;
    display: block;
}

.complectation__img-1 {
    width: 555px;
    height: 554px;
    margin-bottom: 55px;
}

.complectation__img-2 {
    width: 296px;
    height: 296px;
    margin-left: 35px;
}

.complectation__img-3 {
    width: 282px;
    height: 282px;
}

.complectation__img-4 {
    width: 282px;
    height: 282px;
}





.specs-table__item {
    width: 1130px;
    height: 98px;
    border-top: 1px solid rgb(17, 17, 17);
    display: flex;
    align-items: center;
    line-height: 25px;
}

.specs-table__item span {
    font-family: 'NAMU Pro';
    font-size: 30px;
    line-height: 36px;
}

.specs-table__item:last-child {
    border-bottom: 1px solid rgb(17, 17, 17);
}

.specs-table__item-1 {
    gap: 578px;
}

.specs-table__item-2 {
    gap: 441px;
}

.specs-table__item-3 {
    gap: 466px;
}

.specs-table__item-4 {
    gap: 583px;
}

.specs-table__item-5 {
    gap: 462px;
}

.specs-table__item-6 {
    gap: 661px;
}





.delivery {
    display: flex;
    flex-direction: column;
}

.delivery__info {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
    max-width: 1130px;
}


.Moscow__title {
    font-family: "NAMU Pro";
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 29px;
}

.Moscow__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Moscow__item {
    list-style-type: disc;
}


.regions__title {
    font-family: "NAMU Pro";
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 29px;
}

.regions__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.regions__item {
    list-style-type: disc;
}


.delivery__pick-up-points {
    margin-bottom: 100px;
}

.pick-up-points__title {
    font-family: "NAMU Pro";
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 50px;
}


.map iframe {
    width: 1130px;
    height: 608px;
}


.delivery__calculation {
    background: #ffffff;
    max-width: 1130px;
}

.calculation__form {
    padding: 70px 440px 70px 78px;
}


.calculation__title {
    font-family: 'NAMU Pro';
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 50px;
}

.calculation__form-group {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 32px;
    padding-bottom: 23px;
    font-weight: 400;
    line-height: 25px;
    font-size: 18px;
}





.payment {
    max-width: 1130px;
}

.payment__text {
    margin-bottom: 40px;
}

.payment__text:last-child {
    margin-bottom: 0;
}


.payment__text-2 span {
    display: inline-block;
    margin-bottom: 15px;
}


.payment__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 26px;
}



.operating-rules {
    max-width: 1130px;
}

.guarantee {
    max-width: 1130px;
}



.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1132px;
    gap: 20px;
}


.certificates__item img {
    width: 268px;
    height: 378px;
}




.main__accordion {
    margin-bottom: 150px;
}

.accordion__title {
    font-family: "NAMU Pro";
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 60px;
}


.accordion-list__item {
    border-top: 1px solid var(--secondary-color);
}

.accordion-list__item:last-child {
    border-bottom: 1px solid var(--secondary-color);
}

.accordion-list__control {
    padding: 34px 0;
    display: flex;
    width: 100%;
    background: transparent;
    text-align: left;
    justify-content: space-between;

    font-size: 20px;
    font-weight: 400;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 50px;
}



.accordion-list__control-title {
    font-size: 20px;
    font-weight: 400;
}


.accordion-list__toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.accordion-list__toggle-icon {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.accordion-list__toggle-icon::before,
.accordion-list__toggle-icon::after {
    content: '';
    position: absolute;
    background-color: #000;
    transition: transform 0.3s ease;
}

.accordion-list__toggle-icon::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
}

.accordion-list__toggle-icon::after {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}

.accordion-list__item--opened .accordion-list__toggle-icon::before {
    transform: rotate(-45deg);
    background: var(--hover-color);
    top: 47%;
}

.accordion-list__item--opened .accordion-list__toggle-icon::after {
    transform: rotate(-45deg);
    background: var(--hover-color);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}


.accordion-content {
    padding: 0 30px 50px 0;
    display: flex;
}

.accordion-content span {
    max-width: 900px;
}




.main__video {
    margin-bottom: 150px;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1360px;
    margin: 0 auto;
}


.similar-products {
    margin-bottom: 150px;
}


.similar-products__title {
    font-family: "NAMU Pro";
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 60px;
    text-align: left;
}

.similar-products__list-btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.similar-products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 440px);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    justify-content: center;
    max-width: 1360px;
    width: 100%;
    gap: 20px;

    align-items: start;
}

.similar-products__card {
    max-width: 440px;
    box-shadow: 0px 4px 41px 0px var(--box-shadow);
    transition: var(--transition);
    cursor: pointer;
    border-radius: 3px;
}

.similar-products__card:hover {
    box-shadow: 0px 4px 41px 0px var(--box-shadow), 0px 4px 41px 0px var(--box-shadow);
}

.similar-products__card:hover .similar-card__action {
    display: flex;
}

.card__img {
    border-radius: 3px;
    overflow: hidden;
    width: 440px;
    height: 440px;
}

.card__img img {
    width: 100%;
}

.card__info {
    padding: 40px;
}

.card__text {
    font-size: 24px;
    line-height: 33px;
    max-width: 360px;
    margin-bottom: 38px;
}

.card__actions {
    position: relative;
}

.card__availability {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}




.card__favorite-btn svg {
    width: 30px;
    height: 30px;
}

.card__price {
    font-family: "NAMU Pro";
    margin-bottom: 0;
    justify-content: space-between;
}

.card__original-price {
    order: 1;
    font-size: 24px;
    line-height: 29px;
}

.card__discount-price {
    order: 0;
    font-size: 42px;
    line-height: 50px;
}

.similar-card__action {
    display: none;
    gap: 0;
}

.similar-card__action .quantity {
    max-width: 50%;
}

.similar-card__action .add-to-cart {
    max-width: 50%;
}


.similar-products__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    gap: 30px;
    max-width: 325px;
    min-height: 80px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 3px;
    background: inherit;
    transition: var(--transition);
}

.similar-products__btn svg {
    width: 25px;
    height: 25px;
}

.similar-products__btn:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
}

.similar-products__btn:hover path {
    fill: var(--hover-color);
}



@media (max-width: 1500px) {
    .product-hero {
        gap: 40px;
    }

    .product-title {
        font-size: 34px;
    }

    .product-favorite-btn {
        top: -342px;
        left: -106px;
    }

    .video {
        max-width: 1200px;
    }
}

@media (max-width: 1370px) {
    .main__product-card {
        padding: 40px 0 225px 0;
    }

    .product-hero {
        flex-direction: column
    }

    .product-breadcrumbs {
        margin-bottom: 50px;
    }

    .product-gallery {
        justify-content: center;
        margin-bottom: 20px;
    }

    .product-gallery-slider {
        margin: 0;
    }

    .product-gallery-pagination.swiper-pagination {
        display: block;
        top: 102%;
        left: 50%;
        right: auto;
        transform: translate3d(0px, -50%, 0px) translateX(-50%) rotate(270deg);
    }

    .product-title {
        max-width: none;
    }

    .product-text {
        max-width: none;
        top: 95px;
        display: inline;
        -webkit-line-clamp: none;
        -webkit-box-orient: horizontal;
        overflow: visible;
    }

    .product-text:hover {
        max-height: none;
        display: inline;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .product-actions {
        max-width: none;
        top: 170px;
    }

    .product-actions .product-availability {
        margin-bottom: 0;
    }

    .product-availability {
        display: flex;
        justify-content: space-between;
    }

    .product-availability .favorite-btn {
        display: block;
        position: static;
    }

    .product-price .favorite-btn {
        display: none;
    }

    .cart-action {
        justify-content: space-between;
    }

    .quantity {
        max-width: 40%;
    }

    .add-to-cart {
        max-width: 60%;
    }

    .complectation {
        grid-template-columns: repeat(2, minmax(575px, 627px));
        grid-template-rows: 303px 303px;
        gap: 15px;
    }

    .complectation__title {
        margin-bottom: 14px;
    }


    .complectation__item {
        flex-direction: row;
    }

    .complectation__item .complectation__info {
        max-width: 262px;
        margin-left: 22px;
    }

    .complectation__title {
        font-size: 20px;
        line-height: 24px;
    }

    .complectation__text {
        font-size: 16px;
        line-height: 1.4;
    }

    .complectation__item-1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }


    .complectation__item-2 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }


    .complectation__item-3 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }


    .complectation__item-4 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }


    .complectation__img {
        width: 302px;
        height: 302px;
    }

    .complectation__img-1 {
        margin-bottom: 0;
    }

    .complectation__img-2 {
        margin-left: 0;
    }

    .video {
        max-width: 1050px;
    }
}

@media (max-width: 1200px) {

    .product-text {
        font-size: 16px;
    }

    .main__accordion {
        margin-bottom: 70px;
    }

    .main__item-tabs {
        margin-bottom: 70px;
    }

    .item-tabs__inner {
        padding: 40px 0 70px 0;
    }

    .item-tabs__top {
        margin-bottom: 60px;
    }

    .complectation {
        grid-template-columns: minmax(600px, 627px);
        grid-template-rows: 303px 303px 303px 303px;
        gap: 15px;
    }



    .complectation__item-1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .complectation__item-2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .complectation__item-3 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }


    .complectation__item-4 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }




    .specs-table__item {
        width: 726px;
        height: 80px;
        font-size: 16px;
        line-height: 22px;
    }

    .specs-table__item span {
        font-size: 24px;
        line-height: 29px;
    }

    .specs-table__item-1 {
        gap: 277px;
    }

    .specs-table__item-2 {
        gap: 156px;
    }

    .specs-table__item-3 {
        gap: 177px;
    }

    .specs-table__item-4 {
        gap: 282px;
    }

    .specs-table__item-5 {
        gap: 175px;
    }

    .specs-table__item-6 {
        gap: 352px;
    }



    .main__video {
        margin-bottom: 70px;
    }

    .delivery {
        flex-direction: column;
        align-items: center;
    }

    .delivery__info {
        flex-direction: column;
        margin-bottom: 60px;
        max-width: 630px;
        gap: 60px;
    }



    .delivery__other-regions {
        margin-left: 0;
    }


    .delivery__pick-up-points {
        margin-bottom: 60px;
    }

    .pick-up-points__title {
        margin-bottom: 30px;
    }

    .map iframe {
        width: 729px;
        height: 654px;
    }


    .delivery__calculation {
        background: #ffffff;
        max-width: 1130px;
    }

    .calculation__form {
        padding: 40px 272px 51px 49px;
    }


    .calculation__title {
        margin-bottom: 50px;
    }

    .certificates__item img {
        width: 168px;
        height: 278px;
    }


    .video {
        max-width: 800px;
    }

    .similar-products__title {
        margin-bottom: 40px;
    }

    .similar-products__list {
        grid-template-columns: repeat(auto-fill, 340px);
    }


    .similar-products {
        margin-bottom: 70px;
    }

    .card__img {
        width: 340px;
        height: 340px;
    }

    .card__text {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .card__availability {
        margin-bottom: 13px;

    }

    .card__discount-price {
        font-size: 30px;
        line-height: 35px;
    }

    .card__original-price {
        font-size: 20px;
        line-height: 19px;
    }

    .similar-card__action .quantity {
        gap: 15px;
    }

    .similar-card__action .add-to-cart {
        font-size: 25px;
    }

    .similar-products__btn {
        margin-top: 65px;
    }




    /* ================ */
    .footer__logo {
        max-width: 140px;
    }

    .footer__text {
        max-width: 630px;
        font-size: 15px;
    }

    .footer__tel {
        max-width: 140px;
        font-weight: 300;
        font-size: 15px;
    }

    .footer__tel span {
        font-weight: 500;
    }
}

@media (max-width: 1000px) {

    .video {
        max-width: 700px;
    }

    /* ========= */

    .footer__inner {
        padding: 20px 0 30px 0;
    }

    .footer__text-logo-group {
        gap: 3px;
    }

    .footer__tel {
        position: absolute;
        right: 0;
        top: 31px;
        align-self: start;
    }
}

@media (max-width: 900px) {

    /* ==================== */
    .header__burger-logo-group {
        gap: 15px;
    }

    .burger-icon {
        width: 40px;
        height: 40px;
    }

    .header__logo {
        max-width: 140px;
    }

    .header__icons {
        gap: 25px;
    }

    .header__icons svg {
        width: 30px;
    }

    /* ==================== */

    .main__product-card {
        padding: 40px 0 92px 0;
    }



    .container {
        max-width: 1440px;
        padding: 0 70px;
    }

    .product-hero {
        gap: 30px;
    }

    .dropdown-content {
        top: 56px;
        font-size: 16px;
        line-height: 1.4;
        min-width: 196px;

    }

    .product-breadcrumbs {
        margin-bottom: 40px;
    }

    .product-title {
        font-size: 26px;
    }

    .product-text {
        position: relative;
        top: 14px;
        font-size: 16px;
        line-height: 1.4;
    }

    #dots {
        display: inline;
    }

    #more {
        display: none;
    }

    #product-button-more {
        display: block;
    }

    .product-actions {
        top: 41px;
    }

    .product-availability-in-stock {
        font-size: 16px;
        line-height: 22px;
    }

    .product-availability .product-favorite-btn {
        display: none;
    }


    .product-price {
        justify-content: flex-start;
    }

    .price-group {
        justify-content: start;
    }

    .product-discount-price {
        font-size: 36px;
        line-height: 43px;
    }

    .product-original-price {
        font-size: 24px;
        line-height: 29px;
    }

    .product-price .favorite-btn {
        display: block;
    }

    .product-favorite-btn {
        position: static;
    }

    .product-favorite-btn svg {
        width: 40px;
        height: 40px;
    }

    .product-availability {
        margin-bottom: 9px;
    }

    .product-original-price {
        order: 1;
        margin-left: 40px;
    }

    .product-discount-price {
        order: 0;
    }

    .add-to-cart {
        height: 70px;
        font-size: 24px;
        line-height: 33px;
    }

    .quantity {
        height: 70px;
    }

    .quantity__counter-input input {
        font-size: 24px;
    }

    .calculation__form {
        padding: 40px 172px 51px 49px;
    }



    .accordion__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .accordion-list__control {
        padding: 18px 0;
    }

    .accordion-list__item--opened .accordion-list__control {
        padding-bottom: 25px;
    }

    .accordion-list__control-title {
        font-size: 16px;
        line-height: 1.4;
    }


    .accordion-list__toggle-icon {
        width: 32px;
        height: 32px;
    }

    .accordion-content {
        font-size: 13px;
        line-height: 1.4;
        padding: 0 30px 25px 0;
    }

    .similar-products__list {
        grid-template-columns: repeat(auto-fill, 196px);
        gap: 18px;
    }

    .similar-products__title {
        font-size: 30px;
        line-height: 36px;
    }

    .card__img {
        width: 196px;
        height: 196px;
    }

    .card__info {
        padding: 10px 12px 12px 12px;
    }

    .card__text {
        line-height: 1.3;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .card__availability {
        margin-bottom: 8px;
    }

    .card__availability-in-stock {
        font-size: 12px;
        line-height: 16px;
    }

    .card__availability-in-stock div {
        width: 8px;
        height: 8px;
        margin-right: 12px;
    }

    .card__favorite-btn svg {
        width: 24px;
        height: 24px;
    }

    .card__price {
        justify-content: space-between;
    }


    .card__discount-price {
        font-size: 30px;
        line-height: 35px;
        font-size: 20px;
        line-height: 24px;
    }

    .card__original-price {
        font-size: 20px;
        line-height: 19px;
        font-size: 12px;
        line-height: 14px;
        margin-left: 0;
    }

    .similar-card__action .quantity {
        display: none;
    }

    .similar-card__action .add-to-cart {
        max-width: 100%;
        height: 50px;
        font-size: 16px;
        line-height: 22px;
    }

    .similar-card__action {
        display: flex;
    }

    .similar-products__btn {
        font-size: 16px;
        line-height: 22px;
        margin-top: 40px;
        gap: 18px;
        max-width: 196px;
        min-height: 48px;
    }

    .similar-products__btn svg {
        width: 15px;
        height: 15px;
    }


    /* ==================== */

    .footer__logo {
        max-width: 110px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 1.4;
    }

    .footer__tel {
        max-width: 105px;
        font-size: 12px;
        line-height: 1.4;
    }
}

@media (max-width: 850px) {
    .main__product-card {
        padding: 22px 0 96px 0;
    }

    .product-gallery {
        max-height: 386px;
    }

    .product-breadcrumbs {
        margin-bottom: 22px;
    }

    .product-gallery-slider {
        padding: 0 21px;
    }

    .img-show {
        width: 382px;
        height: 386px;
    }

    .product-gallery-item {
        width: 61px;
        height: 61px;
    }

    .product-gallery-link {
        max-width: 61px;
        max-height: 386px;
    }

    .product-favorite-btn {
        left: 93.8%;
    }


    .specs-table__item {
        width: 600px;
        height: 70px;
    }




    .delivery__info {
        max-width: 550px;
        gap: 40px;
    }


    .Moscow__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .Moscow__list {
        font-size: 16px;
        line-height: 1.4;
    }

    .regions__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .regions__list {
        font-size: 16px;
        line-height: 1.4;
    }

    .pick-up-points__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .map iframe {
        width: 590px;
        height: 730px;
    }


    .calculation__form {
        padding: 40px 142px 51px 49px;
    }

    .calculation__title {
        font-size: 20px;
        line-height: 24px;
    }


    .calculation__form-group {
        font-size: 16px;
        line-height: 1.4;
    }




    .payment {
        font-size: 16px;
        line-height: 140%;
    }

    .operating-rules {
        font-size: 16px;
        line-height: 140%;
    }

    .guarantee {
        font-size: 16px;
        line-height: 140%;
    }



    .certificates {
        gap: 10px;
    }

    .certificates__item img {
        width: 170px;
        height: 240px;
    }


    .video {
        max-width: 550px;
    }
}

@media (max-width: 625px) {
    .container {
        max-width: 1340px;
        padding: 0 20px;
    }

    /* ============= */
    .main__product-card {
        padding: 20px 0 96px 0;
    }

    .main__item-tabs {
        margin-bottom: 46px;
    }

    .img-show {
        width: 350px;
        height: 350px;
    }

    .product-breadcrumbs {
        display: none;
    }

    .product-hero {
        gap: 0;
    }

    .product-gallery {
        flex-direction: column;
    }

    .product-gallery-slider {
        display: none;
    }

    .product-gallery-pagination.swiper-pagination {
        display: none;
    }

    .product-gallery-active-list {
        display: none;
    }

    .product-gallery-slider-for-one {
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }

    .product-gallery-slider-for-one .swiper-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    .product-gallery-slider-for-one .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .slider-for-one__card {
        display: block;
        width: 100%;
        height: 100%;
    }

    .slider-for-one__card img {
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
        object-fit: contain;
    }

    .slider-for-one__pagination {
        display: block;
        position: relative;
        margin-top: 10px;
        text-align: center;
    }





    .product-favorite-btn {
        left: 92.8%;
    }


    .tab-controls__link {
        font-size: 13px;
        line-height: 16px;
    }

    .complectation {
        grid-template-columns: minmax(435px, 450px);
        grid-template-rows: repeat(4, 240px);
        gap: 15px;
    }

    .complectation__title {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 8px;
    }

    .complectation__text {
        font-size: 11px;
        line-height: 1.3;
    }


    .complectation__item .complectation__info {
        max-width: 183px;
        margin-left: 10px;
    }


    .complectation__img {
        width: 240px;
        height: 240px;
    }


    .specs-table__item {
        width: 350px;
        height: 60px;
        font-size: 13px;
        line-height: 18px;
    }

    .specs-table__item span {
        font-size: 17px;
        line-height: 20px;
    }

    .specs-table__item-1 {
        gap: 126px;
    }

    .specs-table__item-2 {
        gap: 28px;
    }

    .specs-table__item-3 {
        gap: 45px;
    }

    .specs-table__item-4 {
        gap: 130px;
    }

    .specs-table__item-5 {
        gap: 42px;
    }

    .specs-table__item-6 {
        gap: 186px;
    }

    .main__video {
        margin-bottom: 45px;
    }

    .delivery__info {
        max-width: 390px;
    }

    .map iframe {
        width: 400px;
        height: 630px;
    }

    .calculation__form {
        padding: 30px 70px 41px 39px;
    }

    .calculation__title {
        margin-bottom: 30px;
    }

    .main__accordion {
        margin-bottom: 45px;
    }

    .accordion__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 38px;
    }

    .accordion-list__control {
        padding: 16px 0;
    }


    .accordion-list__control-title {
        font-size: 13px;
        line-height: 140%;
    }


    .accordion-list__toggle-icon {
        width: 24px;
        height: 24px;
    }

    .accordion-content {
        font-size: 11px;
        line-height: 1.3;
    }

    .video {
        max-width: 400px;
    }

    .similar-products {
        margin-bottom: 45px;
    }

    .similar-products__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 36px;
    }

    /* ============= */
    .footer__text {
        max-width: 450px;
        font-size: 10px;
    }

    .footer__tel {
        max-width: 90px;
        font-size: 10px;
        top: 25px;
        gap: 2px;

    }

}

@media (max-width: 500px) {
    .product-favorite-btn {
        left: 90.8%;
    }
}

@media (max-width: 450px) {

    .header__burger-logo-group {
        gap: 15px;
    }

    .burger-icon {
        width: 30px;
        height: 30px;
    }

    .burger-icon span,
    .burger-icon span::before,
    .burger-icon span::after {
        width: 20px;
        height: 1.5px;
    }

    .burger-icon span::before {
        top: -8px;
    }

    .burger-icon span::after {
        bottom: -8px;
    }

    .header__logo {
        max-width: 94px;
    }

    .header__icons svg {
        width: 24px;
    }

    /* ======================== */

    .main__product-card {
        padding: 20px 0 80px 0;
    }

    .dropdown-content {
        top: 43px;
        font-size: 13px;
        min-width: 146px;

    }

    .product-hero {
        gap: 20px;
    }

    .product-gallery {
        margin-bottom: 0px;
    }

    .gallery-favorite-btn {
        display: block;
        position: absolute;
        left: 84%;
        top: 5%;
        z-index: 2;
    }

    .gallery-favorite-btn svg {
        width: 30px;
        height: 30px;
    }

    .product-title {
        font-size: 17px;
    }

    .product-text {
        font-size: 13px;
    }

    #product-button-more {
        font-size: 13px;
    }

    .product-actions {
        top: 34px;
    }

    .product-actions .product-availability {
        margin-bottom: 0;
    }

    .product-availability-in-stock {
        font-size: 13px;
        line-height: 18px;
    }

    .product-availability-in-stock div {
        margin-right: 13px;
        width: 10px;
        height: 10px;
    }

    .product-price {
        margin-bottom: 10px;
    }

    .price-group {
        justify-content: space-between;
    }

    .product-price .favorite-btn {
        display: none;
    }

    .product-discount-price {
        order: 1;
        font-size: 32px;
        line-height: 38px;
    }

    .product-favorite-btn {
        display: none;
    }


    .product-original-price {
        order: 0;
        margin-left: 0;
        font-size: 20px;
        line-height: 24px;
    }


    .cart-action {
        flex-direction: column;
        gap: 10px;
    }

    .quantity,
    .add-to-cart {
        max-width: 100%;
    }

    .add-to-cart {
        font-size: 17px;
        font-weight: 500;
        line-height: 23px;
    }

    .add-to-cart img {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    .quantity__counter-button svg {
        width: 15px;
        height: 15px;
    }

    .quantity__counter-input input {
        font-size: 17px;
        font-weight: 500;
    }

    .quantity {
        gap: 80px;
    }



    .tab-controls__link {
        font-size: 13px;
        line-height: 16px;
    }

    .item-tabs__inner {
        padding: 30px 0 46px 0;
    }

    .item-tabs__top {
        margin-bottom: 36px;
    }

    .complectation {
        grid-template-columns: minmax(340px, 350px);
        grid-template-rows: repeat(4, 140px);
        gap: 12px;
    }

    .complectation__title {
        font-size: 13px;
        line-height: 16px;
    }

    .complectation__text {
        font-size: 11px;
    }

    .complectation__item .complectation__info {
        max-width: 183px;
    }

    .complectation__img {
        width: 140px;
        height: 140px;
    }

    .specs-table__item {
        width: 330px;
        height: 60px;
    }


    .delivery__info {
        max-width: 300px;
        gap: 36px;
    }

    .Moscow__title {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 12px;
    }

    .Moscow__list {
        font-size: 13px;
    }

    .regions__title {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 12px;
    }

    .regions__list {
        font-size: 13px;
    }

    .delivery__pick-up-points {
        margin-bottom: 36px;
    }

    .pick-up-points__title {
        font-size: 13px;
        line-height: 16px;
    }

    .map iframe {
        width: 320px;
        height: 630px;
    }




    .calculation__title {
        font-size: 13px;
        line-height: 16px;
    }

    .calculation__form-group {
        font-size: 13px;
        padding-bottom: 10px;
    }


    .payment {
        font-size: 13px;
    }

    .operating-rules {
        font-size: 13px;
    }

    .guarantee {
        font-size: 13px;
    }

    .certificates__item img {
        width: 140px;
        height: 200px;
    }

    .video {
        max-width: 320px;
    }


    .similar-products__list {
        grid-template-columns: repeat(auto-fill, 170px);
        gap: 10px;
    }

    .card__img {
        width: 170px;
        height: 170px;
    }

    .card__text {
        font-size: 10px;
        line-height: 1.4;
        margin-bottom: 9px;
    }

    .card__availability-in-stock {
        font-size: 10px;
        line-height: 14px;
    }

    .card__availability-in-stock div {
        width: 10px;
        height: 10px;
        margin-right: 13px;
    }

    .card__discount-price {
        order: 0;
        font-size: 17px;
        line-height: 20px;
    }

    .card__original-price {
        order: 1;
        font-size: 12px;
        line-height: 14px;
    }

    .card__price {
        margin-bottom: 0;
    }

    .similar-card__action .add-to-cart {
        height: 40px;
        font-size: 15px;
        line-height: 20px;
    }

    .similar-products__btn {
        font-size: 15px;
        line-height: 20px;
        margin-top: 30px;
        gap: 15px;
        max-width: 170px;
        min-height: 40px;
    }

    .similar-products__btn svg {
        width: 13px;
        height: 13px;
    }

    /* ======================== */

    .footer__text {
        max-width: 350px;
    }
}